.hidden{
    display: none;
}
.account{
    background-color: #eff0f1;
}
.account-row{
    background-color: #ececc5;
}
.item-row{
    background-color: #f1f1f1;
}
.account-total{
    background-color: #587abc;
    color: white;
}
.cat-total{
    background-color: #a79d96;
}
.t-total{
    background-color: #00274c;
    color: white;
}
.select{
    background: #ffffff;
}
.bold{
    font-weight: bold;
}

p{
    margin-bottom: 0 !important;
}
.fa{

    color: #024794;
}

i:hover{
    cursor: grab;
}
body{

    o
    font-family: 'Nunito Sans', sans-serif;
    background: #efefef;
}

.blue-bg{
    background-color: #00274c;
    color: white;
}

.top{
    padding-top: 11rem;
}

.index-top{
    padding-top: 4rem;
}

.big-padding-top{
    padding-top: 6rem;
}

a.nav-link{
    color: #00274c;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-top: .25rem;
    margin-left: 5px;
    margin-right: 10px;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

input:checked + .slider {
    background-color: #2196F3;

}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;

}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(13px);

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;

}
