{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block index %}
<nav class="navbar fixed-top navbar-light bg-faded">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/head.png' %}" height="30" class="d-inline-block align-top" alt="">
    </a>
</nav>
<div class="container card top-row">
    <div class="card-block">
        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#d_id" role="tab">Dept ID</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#d_range" role="tab">Dept ID Range</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#grp_c" role="tab">Dept Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#grp_vp" role="tab">VP Area </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#grp_bud" role="tab">Budget Seq</a>
                </li>

            </ul>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="pt-3" action="/table/" method="POST">{% csrf_token %}
                    <h3> Select Department </h3>
                    <div class="tab-content">
                        <div class="tab-pane active" id="d_id" role="tabpanel">
                            {{ form.non_field_errors }}
                            <div class="fieldWrapper">
                                {{ form.dept_id.errors }}
                                <label for="{{ form.dept_id.id_for_label }}">{{ form.dept_id.label }}</label>
                                {{ form.dept_id | add_class:"form-control"}}
                            </div>
                        </div>
                        <div class="tab-pane" id="d_range" role="tabpanel">
                            <div class="fieldWrapper">
                                {{ form.dept_id_range.errors }}
                                <label for="{{ form.dept_id_range.id_for_label }}">{{ form.dept_id_range.label }}</label>
                                {{ form.dept_id_range | add_class:"form-control"}}
                                <small class="text-muted">{{form.dept_id_range.help_text }}</small>
                            </div>
                        </div>
                        <div class="tab-pane" id="grp_c" role="tabpanel">
                            <div class="fieldWrapper">
                                {{ form.dept_grp_choice.errors }}
                                <label for="{{ form.dept_grp_choice.id_for_label }}">{{ form.dept_grp_choice.label }}</label>
                                {{ form.dept_grp_choice| add_class:"select form-control"}}
                            </div>
                        </div>
                        <div class="tab-pane" id="grp_vp" role="tabpanel">
                            <div class="fieldWrapper">
                                {{ form.dept_grp_vp_choice.errors }}
                                <label for="{{ form.dept_grp_vp_choice.id_for_label }}">{{ form.dept_grp_vp_choice.label }}</label>
                                {{ form.dept_grp_vp_choice| add_class:"select form-control"}}
                            </div>
                        </div>
                        <div class="tab-pane" id="grp_bud" role="tabpanel">
                            <div class="fieldWrapper">
                                {{ form.dept_grp_bud_choice.errors }}
                                <label for="{{ form.dept_grp_bud_choice.id_for_label }}">{{ form.dept_grp_bud_choice.label }}</label>
                                {{ form.dept_grp_bud_choice| add_class:"select form-control"}}
                            </div>
                        </div>

                    </div>
                    {{ form | crispy }}
                    <button class="btn btn-sm blue-bg">Submit</button>
                </form>
            </div>
        </div>

        <!--
            <form action="/table/" method="post" class="pt-2">
            {% csrf_token %}
            <div class"form-group row">
            <label class="custom-control custom-radio">
            <input id="single-id" name="radio" type="radio" class="custom-control-input" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Department ID</span>
            </label>
            <select name="dept-id-sel" multiple class="form-control mb-3">
            <option>481054</option>
            </select>
            </div>
            <div class"form-group pt-1">
            <label class="custom-control custom-radio">
            <input id="mult-id" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Department IDs</span>
            </label>
            <textarea name="dept-id-list" id="mult-id-input"class="form-control mb-3" rows="3"></textarea>
            </div>
            <div class"form-group ">
            <label class="custom-control custom-radio">
            <input id="dept-grp" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Department Group</span>
            </label>

            <select name="dept-grp-sel" class="form-control mb-3">
            {% for row in bud_seq %}
            <option value="{{row.5}}">{{row.5 | lower}}</option>
            {% endfor %}

            </select>
            </div>
            <div class"form-group ">
            <label class="custom-control custom-radio ">
            <input id="dept-grp-bud" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Department Group Budget Sequence</span>
            </label>

            <select name="dept-grp-b" class="form-control mb-3">
            {% for row in bud_seq %}
            <option value="{{row.17}}">{{row.17 | lower}}</option>
            {% endfor %}
            </select>
            </div>
            <div class"form-group">
            <label class="custom-control custom-radio">
            <input id="dept-grp-vp" name="radio" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Department Group VP Area</span>
            </label>

            <select name="dept-grp-vp" class="form-control">
            {% for row in vp %}
            <option value="{{row.7}}">{{row.7 | lower}}</option>
            {% endfor %}
            </select>
            </div>
            <hr>
            <legend> Choose Date Range: </legend>
            <div class"form-group row" style="display: flex;">
            <label class="custom-control custom-radio col-sm-2">
            <input id="radio2" name="radio2" type="radio" class="custom-control-input"checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Fiscal Year</span>
            </label>

            <select class="form-control col-sm-10 mb-3">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            </select>
            </div>
            <div class"form-group row" style="display: flex;">
            <label class="custom-control custom-radio col-sm-2">
            <input id="radio2" name="radio2" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Calendar Year</span>
            </label>

            <select class="form-control col-sm-10 mb-3">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            </select>
            </div>
            <div class"form-group row" style="display: flex;">
            <label class="custom-control custom-radio col-sm-2">
            <input id="radio2" name="radio2" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Single Month</span>
            </label>
            <select class="form-control col-sm-2 mb-3">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
            </select>


            <select class="form-control col-sm-2">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            </select>
            </div>
            <div class"form-group row " style="display: flex;">
            <label class="custom-control custom-radio col-sm-2">
            <input id="radio2" name="radio2" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Month-to-Month</span>
            </label>
            <select class="form-control col-sm-2">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
            </select>

            <select class="form-control col-sm-2">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            </select>
            <div class="mx-3"> to </div>
            <select class="form-control col-sm-2">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
            </select>
            <select class="form-control col-sm-2">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            </select>
            </div>
            <hr>
            <div class="row text-center" style="display: block;">
            <button id="submit-btn" class="btn btn-primary" type="submit">Generate Report</button>
            </div>
            </form>
        -->
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
