{% extends 'base.html' %}
{% load humanize %}
{% load money_format %}
{% load staticfiles %}
{% block index %}
<nav class="navbar fixed-top navbar-light bg-faded">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-sm m-2" id="btn-back">Back</button>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <h4>{{unit}}</h4>
        </div>
        <div class="col-md-6">
            <h4>{{dateRange}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-sm m-2" id="ex-all">Expand All</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm m-2" id="hd-all">Hide All</button>
        </div>
        <div class="col-sm-1 offset-sm-7">
            <button class="btn btn-sm float-right t-total" id="download-btn"> Download .xls </button>
        </div>
    </div>
    <div class="row">
        <div class="col">Account</div>
        <div class="col">Description</div>
        <div class="col">Rate</div>
        <div class="col">Avg monthly Billed</div>
        <div class="col">Billed Units</div>
        <div class="col">Total</div>
    </div>               
</nav>
<div class="container-fluid top">
    <table class="table">
        <thead>
            <tr>
                <th>Account</th>
                <th>Description & Code</th>
                <th>Rate</th>
                <th>Avg monthly Billed</th>
                <th>Billed Units</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            <!-- for each account -->
            {% for account in accounts %}
            <tr class="account-row">
                <td>
                    <strong>I</strong>
                    <i id="group-{{forloop.counter}}-drop" class="fa fa-minus-circle" aria-hidden="true"></i>

                    <strong>{{account.desc}}  ({{account.num}})</strong>
                </td>
                <td colspan="4"></td>
                <td class="account-total">
                    <!-- account total -->
                    {{account.total|floatformat:2|money}}
                </td>
            </tr>

            <!--for each group -->
            {% for group in account.items %}
            <tr id="item-{{forloop.parentloop.counter}}">

                <td>
                    {{forloop.counter}}.
                    <i id="item-{{forloop.parentloop.counter}}-{{forloop.counter}}-drop" class="fa fa-plus-circle" aria-hidden="true"></i>
                    {{group.grp}}
                </td>
                <td colspan="4"></td>
                <td class="cat-total">
                    <!-- group total -->
                    {{group.total|floatformat:2|money}}
                </td>
            </tr>
            <!-- for each item in group -->
            {% for item in group.items %}
            <tr id="item-{{forloop.parentloop.parentloop.counter}}-{{forloop.parentloop.counter}}" class="item-row hidden">
                <td></td>
                <td >{{item.descr}}<strong> - {{item.cc|default_if_none:""}}</strong></td>
                <td>{{item.unit_rate|floatformat:2|money}}</td>
                <td class="hidden-md-down">{{item.monthly}}</td>
                <td class="hidden-lg-up"</td>
                <td>{{item.quantity|default_if_none:""|floatformat:0}}</td>
                <td>{{item.total|floatformat:2|money}}</td>
            </tr>
            {% endfor %}
            <!-- endfor items-->

            {% endfor %}
            <!-- endfor group -->


            {% empty %}
            <div class="row">
                <h4 class="text-danger"> No records found </h4>
                <a class=""href="/">Go Back</a>
            </div>
            {% endfor %}
            <!-- endfor account -->
            <tr>
                <td> Total ITCom Charges </td>
                <td colspan="4"></td>
                <td class="t-total">
                    ${{total|floatformat:2|intcomma}}
                </td>
            </tr>
    </table>
</div>

<!-- debug table
    <table class="table table-bordered table-responsive">
    <thead class="thead">
    <tr>
    <th>Expense Account</th>
    <th>Item Description & code</th>
    <th>Rate</th>
    <th>Avg Monthly Units Billed</th>
    <th>Billed Units</th>
    <th>Item Total</th>
    <th>Item Group Total</th>
    <th>Account Total</th>
    </tr>
    </thead>
    <tbody>
    {% for acc in accounts %}
    <tr>
    <td>{{acc.num}} - {{acc.total}}</td>
    </tr>

    {% for cg in acc.items %}
    <tr>
    <td>{{cg.grp}} - {{cg.total}}</td>
    </tr>
    <tr>
    {% for d in cg.items %}
    <td>{{d.descr}}</td>
    <td>{{d.total}}</td>
    <td>{{d.m_count}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    </table>
-->

<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
