{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block index %}

<div class="container-fluid" style="width: 80%">
    <div class="row py-3">
        <h4><strong>Unit/Group:</strong> {{unit}}</h4>
        <br>
        <h4><strong>Date Range</strong> {{dateRange}}</h4>
    </div>
    <div class="row py-3">
        <div class="col-lg-2 col-md-2"><h4>Expense Account</h4></div>
        <div class="col-lg-3 col-md-4"><h4>Item Description & Item Code</h4></div>
        <div class="col-lg-2 col-md-2"><h4>Rate</h4></div>
        <div class="col-lg-2 hidden-md-down"><h4>Average Units</h4></div>
        <div class="col-lg-2 col-md-2"><h4>Billed Units</h4></div>
        <div class="col-lg-1 col-md-2"><h4>Total</h4></div>
    </div>
    <div class="row">
        <button class="btn btn-sm m-2" id="ex-all">Expand All</button>
        <button class="btn btn-sm m-2" id="hd-all">Hide All</button>
    </div>

    <!-- for each account -->
    {% for account in rows.items %}
    <div class="row account">
        <div  class="col-lg-12"> 
            <strong>I</strong>
            <i id="a-{{forloop.counter}}-row" class="fa fa-minus-circle" aria-hidden="true"></i>

            <strong>{{account.1.group_dict.items.0.1.items.0.10}} - ({{account.0}})</strong>
        </div>

        <!--for each group -->
        {% for group in account.1.group_dict.items %}
        <div id="a-{{forloop.parentloop.counter}}-{{forloop.counter}}-grp-show" class="col-lg-12">
            {{forloop.counter}}.
            <i id="a-{{forloop.parentloop.counter}}-{{forloop.counter}}-grp" class="fa fa-plus-circle" aria-hidden="true"></i>
             {{group.0}}
        </div>

        <!-- for each item in group -->
        <div id="a-{{forloop.parentloop.counter}}-g-{{forloop.counter}}-items" class=" col-lg-12 hidden">
            <div class="row">
        {% for item in group.1.items %}
            <div class="col-lg-4 col-md-5 offset-md-1"> <p>{{item.13}}<br><strong>{{item.12|default_if_none:""}}</strong></p></div>
            <div class="col-lg-2 col-md-2">${{item.14|default_if_none:""|floatformat:2|intcomma}}</div>
            <div class="col-lg-2 hidden-md-down">???</div>
            <div class="col-lg-2 col-md-2">{{item.15|default_if_none:""|floatformat:0}}</div>
            <div class="col-lg-1 col-md-2">${{item.16|default_if_none:""|floatformat:2|intcomma}}</div>
        {% endfor %}
            </div>
        </div>
        <!-- endfor -->

        <!-- group total -->
        <div id="a-{{forloop.parentloop.counter}}-grp"class="col-lg-1 offset-lg-11 col-md-2 offset-md-10 cat-total">$ {{group.1.total|floatformat:2|intcomma}}</div>
        {% endfor %}


        <!-- account total -->
        <div class="col-lg-1 offset-lg-11 col-md-2 offset-md-10 account-total">$ {{account.1.a_total|floatformat:2|intcomma}}</div>

    </div>
    {% empty %}
    <div class="row">
        <h4 class="text-danger"> No records found </h4>
    </div>
    {% endfor %}
    <!-- endfor -->
    <div class="row account">
        <div class="col-lg-1 offset-lg-11 col-md-2 offset-md-10 t-total">
            ${{total|floatformat:2|intcomma}}
        </div>
    </div>

</div>
<!-- old table
    <table class="table table-bordered table-responsive">
    <thead class="thead">
    <tr>
    <th>Expense Account</th>
    <th>Item Description & code</th>
    <th>Rate</th>
    <th>Avg Monthly Units Billed</th>
    <th>Billed Units</th>
    <th>Item Total</th>
    <th>Item Group Total</th>
    <th>Account Total</th>
    </tr>
    </thead>
    <tbody>
    {% for account in rows.items %}
    <tr class="table-warning">
    <th scope="row" colspan="8">{{account.1.group_dict.items.0.1.items.0.10}} - ({{account.0}})</th>
    <td>{{account.1.a_total|floatformat:2|intcomma}}</td>
    </tr>
    {% for group in account.1.group_dict.items %}
    <tr><td>{{group.0}} - </td>
    <th scope="row" colspan="6"></th>
    <td>{{group.1.total|floatformat:2|intcomma}}</td>
    </tr>
    {% for item in group.1.items %}
    <tr>
    <td></td>
    <td>{{item.13}}{{item.12|default_if_none:""}}</td>
    <td>${{item.14|default_if_none:""|floatformat:2|intcomma}}</td>
    <td></td>
    <td>{{item.15|default_if_none:""|floatformat:0}}</td>
    <td>${{item.16|default_if_none:""|floatformat:2|intcomma}}</td>
    </tr>
    {% endfor %}

    {% endfor %}
    {% endfor %}
    </tbody>
    </table>
-->

<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
